.outer
{
    display: flex;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.container
{
    flex-grow: 1;
    width: 650px;
    height: 650px;
}

.controls
{
    width: 250px;
}

.form
{
    font: 10pt Helvetica;
}

.fieldset
{
    border: 2px solid #a0a0a0;
    border-radius: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

